<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nic.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @nic.number %>
</p>

<p>
  <strong>Text:</strong>
  <%= @nic.text %>
</p>

<p>
  <strong>Category:</strong>
  <%= @nic.category_id %>
</p>

<%= link_to 'Edit', edit_nic_path(@nic) %> |
<%= link_to 'Back', nics_path %>
