<p id="notice"><%= notice %></p>
<div class="container text-center">
<form class="form-inline-center search-form" action="<%= search_nic_path(@nic) %>" method="GET" data-remote="true">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="s">
  <button class="btn btn-outline-danger my-2 my-ms-5 " type="submit">Search</button>
    <div id="search-results">
      <ul class="results"></ul>
    </div>
</form>
</div>

<p>
  <strong>Nic:</strong>
  <%= @nic.number %>.- <%= @nic.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @nic.category_id %>
</p>

<div id="content" class="container">
<% @contents.map do |content| %>
<% if content.text.present? %>
  <%= render 'shared/tag_for', content: content do %>
    <% if content.number.present? %>
    <%= "#{content.number}.-" %>
    <% end %>

    <%= content.text %>
  <% end %>
<% end %>
<% end %>
</div>

<%= link_to 'Edit', edit_nic_path(@nic) %> |
<%= link_to 'Back', nics_path %>
