<p id="notice"><%= notice %></p>

<section id="info" class="row">
  <div class="col-sm-12 col-md-6 img-fluid card-deck">
    <hr>
      <%= image_tag 'img.jpg', width: 520, height: 330%>
  </div>
    <hr>
      <div id="inicio" class="Title container col-sm-12 col-md-6">
         <h1 class="text-center text-md-left my-5">NiifApp</h1>
        <hr>
          <p class="text-center container text-md-left">Bienvenido a NiifApp pensaba para y por usted, el profesional del Area Financiera que busca una manera fácil de acceder a las Normas Internacionales de Información Financiera y sus Normas Internacionales Contables. Le invito a darse una vuelta por nuestro NiifBlog donde compartiremos noticias sobre el mundo Financiero Contable adelante......</p>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-outline-secondary  text-nowrap" data-toggle="tooltip" data-placement="top" title="Presiona para enviar por correo">Consulta al correo </button>
              <button type="button" class="btn btn-outline-secondary seconde ml-3 text-nowrap" data-toggle="tooltip" data-placement="button" title="Presiona para suscribirte">Suscribete</button>    
            </div>
      </div>
</section>
<br>


<section id="comentario" class=" container">
  <hr class="hr-bottom d-none d-sm-block">
    <div class="row">
      <div class="col-sm-12 col-md-6 img fluid card-deck text-dark">
        <div class="card container text-left">
            <% @posts.each do |post| %>
              <img src="<%= post.image_url %>", width='150', height='250' class="card-img-top" alt="<%=post.title %>">
            <div class="card-body text-center">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.content %></p>
              <p class="card-text"><small class="text-muted"><%= post.created_at%></small></p>
              <%= render 'posts/post_comments', comments: post.comments.last(2) %>   
              <td><%= link_to 'Mirar', post, class:"btn btn-outline-danger" %></td>
            </div>
          <% end %>
          </div>   
        </div>
      <div class="col-sm-12 col-md-6 text-center">
        <p class="grafic">Gráfico Financiero</p>
        <%= bar_chart @cards %>
        <br>
        <p class="grafic">El movimiento anual del mercado bursátil en Asia el último año. Como se representa en el gráfico los colores representan los Tipos diferentes de Nombres que representan la Banca y sus diferentes categorias de cuentas.</p>
        <td><%= link_to 'Show', cards_path, class:"grafic" %></td>
      <hr>
    <br>
    
    
      <div class="content-header">
      <h3>Noticias</h3>
        <ul>
          <li>
            <%= link_to 'Lo que debes de saber sobre normas', asset_path('noticias-niif-marzo-2018.pdf'), class:"btn btn-outline-danger", target: '_blank'%>
            <span>March 30, 2018 at 8:00 PM EST</span>
          </li>
        <hr>
          <li>
            <%= link_to 'S&P Dow Jones Indices Anuncia Cambios en la  Composición del S&P 500', asset_path('1358762_5var-6egov-202104-spanish.pdf'), class:"btn btn-outline-danger",  target: '_blank' %>
            <span>April 16, 2021 at 10:26 AM EDT</span>
          </li>
        <hr>
        <li>
          <%= link_to 'Análisis de la aplicación de las NIIF y NICSP aplicada a los pasivos corrientes (Resolución 414)', asset_path('2020_análisis_aplicación_niif.pdf'), class:"btn btn-outline-danger", target: '_blank'%>
          <span>arch 30, 2018 at 8:00 PM EST</span>
        </li>
        <hr>
        
        <li>
          <%= link_to 'Analisis de Deloitte primer semestre del 2019', asset_path('Deloitte-ES-Audit-NewsletterContable-primer-semestre-2019.pdf'), class:"btn btn-outline-danger", target: '_blank'%>
          <span>March 19, 2021 at 4:20 PM EDT</span>
        </li>
      <hr>

           <li>
            <%= link_to 'S&P Dow Jones Indices Anuncia Actualizaciones a las directrices por Capitalización de Mercado del S&P Composite 1500', asset_path('20210504-spdji-digital-markets-launch-es.pdf'), class:"btn btn-outline-danger", target: '_blank' %>
            <span>March 19, 2021 at 4:20 PM EDT</span>
          </li>
        <hr>
           <%= link_to 'Más', news_histories_path, class: "btn btn-outline-danger" %>
      </ul>
    </div>
  <br>
</section>  

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Probando</h5>
        <p class="card-text">donde encontrar Niif</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sigue Leyendo</h5>
        <p class="card-text">Es una prueba no muy segura</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Talves si</h5>
        <p class="card-text">que ponerle entonces</p>
      </div>
    </div>
  </div>
</div>
