<div class=" home-widget">
    <div class="content-header">
    

    <ul>
       <li>
      <%= link_to 'Lo que debes de saber sobre normas', asset_path('noticias-niif-marzo-2018.pdf'), class:"btn btn-outline-danger", target: '_blank'%>
       <span>March 30, 2018 at 8:00 PM EST</span>
      </li>

      <li>
      <%= link_to 'Noticias de Normas de Información Financiera', asset_path('noticias-niif-2020.pdf'), class:"btn btn-outline-danger",  target: '_blank'%>
       <span>October 01, 2020 at 11:00 PM EST</span>
      </li>
      <hr>

      
      <li>
        <%= link_to 'Análisis de la aplicación de las NIIF y NICSP aplicada a los pasivos corrientes (Resolución 414)', asset_path('2020_análisis_aplicación_niif.pdf'), target: '_blank' %>
        <span>Jun 22, 2020 at 11:15 AM EDT</span>
      </li>
      <hr>
      
      <li>
       <%= link_to 'Emision del decreto anual de la actualización normaativa en Colombia', asset_path('2021-0009-Emision-decreto-anual-de-actualizacion-normativa-en-Colombia.pdf'), target: '_blank' %>
       <span>March 16, 2021 at 3:42 PM EDT</span>
      </li>
      <hr>

       <li>
      <%= link_to 'Un afondo de las implicaciones de los efectos del coronavirus', asset_path('A-fondo-implicaciones-contables-de-los-efectos-del-coronavirus.pdf'), target: '_blank' %>
       <span>March 19, 2020 at 1:12 AM EDT</span>
      </li>
      <hr>
     
       <li>
      <%= link_to 'Boletín Mensual de Marzo Niif 2021', asset_path('Boletín_Marzo_2021.pdf'), target: '_blank'%>
       <span>March 12, 2021 at 9:20 PM EST</span>
      </li>
      <hr>

       <li>
      <%= link_to 'Analisis de Deloitte primer semestre del 2019', asset_path('Deloitte-ES-Audit-NewsletterContable-primer-semestre-2019.pdf'), target: '_blank' %>
       <span>March 19, 2021 at 4:20 PM EDT</span>
      </li>
      <hr>
    </ul>
  </div>
  </div>
  <br>

   
