<p id="notice"><%= notice %></p>


<form class="form-inline-center container">
      <input class="form-control mr-sm-2" type="search" placeholder="Search"
      aria-label="Search" name="content">
      <div class="text-center">
      <button class="btn btn-outline-danger my-2 my-ms-5"
      type="submit">Search</button>
      </div>
  </form>    


<h1 class="container">More News</h1>
<table >  
  <tbody>
    <% @news_histories.each do |news_history| %>
    <tr>
        <td class="container text-center"><%= news_history.title %>  
        <%= link_to news_history.document.filename, rails_blob_path(news_history.document, disposition: 'attachment'), class:"btn btn-outline-danger text-center", target: '_blank' %><hr></td>
        <td><%= link_to 'Destroy', news_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    
<br>    
<div class="text-center">
<%= link_to 'New News History', new_news_history_path, class: "btn btn-outline-danger" %>
</div>
