<div class="news-announcements home-widget">
    <div class="content-header">
    <h3>Noticias</h3>

    <ul>
      <hr>
      <li>
        <%= link_to 'S&P Dow Jones Indices lanza nueva serie de Índices de Criptomonedas, incluyendo el S&P Bitcoin Index', asset_path('1340361_mar21mktcapguid-03-19-2021-spanish.pdf'), target: '_blank' %>
        <span>May 04, 2021 at 8:30 AM EDT</span>
      </li>
      
      <hr>
      <li>
       <%= link_to 'S&P Dow Jones Indices Anuncia Cambios en la  Composición del S&P 500', asset_path('1358762_5var-6egov-202104-spanish.pdf'), target: '_blank' %>
       <span>April 16, 2021 at 10:26 AM EDT</span>
      </li>

       <hr>
      <li>
      <%= link_to 'S&P Dow Jones Indices Anuncia Actualizaciones a las directrices por Capitalización de Mercado del S&P Composite 1500', asset_path('20210504-spdji-digital-markets-launch-es.pdf'), target: '_blank' %>
       <span>March 19, 2021 at 4:20 PM EDT</span>
      </li>
      
      <hr>
      <li>
      <%= link_to 'S&P Dow Jones Indices Anuncia Cambios en la  Composición del S&P 500', asset_path('1336561_march2021-5146-shuf-pr-20210312-spanish-1.pdf'), target: '_blank'%>
       <span>March 12, 2021 at 9:20 PM EST</span>
      </li>

    </ul>
      </div>
      </div>
      <br>

    <div class="clearfix"></div>

     <%= link_to 'Más', @notice, class: "btn btn-outline-danger" %>
    <div class="column1">
    </div>
  </div>