<p id="notice"><%= notice %></p>

<h1 class="container text-center">NiifApp</h1>
<p class="container text-center">Bienvenido a NiifApp pensaba para y por usted, el profesional del Area Financiera que busca una manera fácil de acceder a las Normas Internacionales de Información Financiera y sus Normas Internacionales Contables. También le invito a darse una vuelta por nuestro NiifBlog donde compartiremos noticias sobre el mundo Financiero Contable adelante......</p>

<br>

<div class="card-deck mb-3 bg-danger text-center text-dark">
  <% @posts.each do |post| %>
    <div class="card">
    <img src="<%= post.image_url %>", width='150', height='250' class="card-img-top" alt="<%=post.title %>">
    <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <%= render 'post_comments', comments: post.comments.last(2) %>   
    <p class="card-text"><small class="text-muted"><%= post.created_at%></small></p>
    <td><%= link_to 'Show', post %></td>
    
    </div>
    </div>
  <% end %>
</div>
<div class="container text-center">
  <%= link_to 'New Post', new_post_path, class:"btn btn-outline-danger" %>
</div>

<script src="detail.js"></script>



