<p id="notice"><%= notice %></p>
<div class="container text-center">

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <%= image_tag @post.image_url, width:500, height:300 %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-danger" %> |
<%= link_to 'Back', posts_path,class:"btn btn-outline-danger" %>

<br>
<%= render 'post_comments', comments: @post_comments %>
<br>
<h2>Add a comment</h2>
  <%= form_with(model: [@post, @post_comments.build], local: false) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <button type="button" class="btn btn-outline-danger">Crea comment</button>
  
    


<% end %>
</div>

